# Ignore everything...
*

# Except a few things...
!bc
!poetry.lock
!pyproject.toml
!docker
!manage.py
!scripts

# But no matter what, ignore these things.
bc/assets/static
bc/node_modules
*.secrets
*.env.dev
*.env
