{% extends "post.html" %}
{% block title %}Little Cases Bots{% endblock %}

{% block post_title %}Little Cases Bots{% endblock %}

{% block post_content %}
  <p class="lead">The Big Cases bot does the important work of following the biggest cases in the country, but many people want updates for the topics they follow.</p>
  <p>Out of this need, we created the Little Cases bots to follow important topics in American society and jurisprudence.</p>
  <p>Little bots are created and manged by <a href="https://free.law/">Free Law Project</a>, but are curated in partnership with community members or organizations that are experts on particular areas of the law.</p>
  <p>If there's a legal topic you follow and if you want to curate a bot for that topic, let us know using the following button. We'll get back to you as soon as possible with a plan for action.</p>

  <p class="tracking-[.8px] font-medium max-w-[135px]">
    {% url 'little_cases_suggest_bot' as suggest_a_bot %}
    {% include 'includes/action-button.html' with link=suggest_a_bot text="Suggest a Bot" size="md" color='saffron' %}
  </p>

  <h2>Current Little Cases Bots</h2>
  {% if bots %}
  <div class="grid grid-cols-3 gap-4">
    {% for bot in bots %}
      <a class="text-center text-lg" href="{{bot.get_absolute_url}}">{{ bot.name }}</a>
    {% endfor %}
  </div>
  {% else %}
  <p>None yet!</p>
  {% endif %}
{% endblock %}


