{% extends "base.html" %}

{% block title %}Page not found (404){% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto px-4 sm:px-6 md:px-10 prose">
  <div class="pt-10 mt-10 border border-gray-500 px-5">
    <h1 class="font-light tracking-tight text-center">
      404 Droid Not Found
    </h1>
    <a class="no-underline hover:underline" href="https://www.youtube.com/watch?v=532j-186xEQ">
      Sorry, this is not the page you're looking for.
    </a>
    <p>Why don't you try one of the following pages instead?</p>
    <div class="grid grid-cols-2 gap-8">
      {% url 'homepage' as homepage %}
      {% include 'includes/transparent-button.html' with link=homepage text='Homepage'%}
      {% url 'big_cases_about' as big_cases_about %}
      {% include 'includes/transparent-button.html' with link=big_cases_about text='About Me'%}
    </div>
    <p>If you continue having problems, please do let us know.</p>
  </div>
</div>
{% endblock %}
