{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} — Bots.law</title>
    {% endblock %}
    {% tailwind_preload_css %}
    {% tailwind_css %}

    <link rel="icon" href="{% static "ico/favicon.ico" %}" sizes="any">
    <link rel="icon" href="{% static "svg/icon.svg" %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static "png/apple-touch-icon.png" %}">

</head>

<body class="font-sans text-bcb-black">
    {% include "includes/under_construction.html" %}

    {% include "includes/header.html" %}

    <main id="content">
        {% block content %}{% endblock %}
    </div>

    {% include "includes/footer.html" %}

    <script
        defer
        data-domain="bots.law"
        src="https://plausible.io/js/script.js"></script>

</body>

</html>
