@tailwind base;
@tailwind components;

@font-face {
    font-family: 'CooperHewitt';
    src: url(/static/fonts/CooperHewitt-Light.woff) format('woff'),
         url(/static/fonts/CooperHewitt-Light.eot) format('embedded-opentype'),
         url(/static/fonts/CooperHewitt-Light.svg) format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url(/static/fonts/CooperHewitt-Book.woff) format('woff'),
         url(/static/fonts/CooperHewitt-Book.eot) format('embedded-opentype'),
         url(/static/fonts/CooperHewitt-Book.svg) format('svg');
    font-weight: 400;
}

@font-face {
    font-family: "CooperHewitt";
    src: url(/static/fonts/CooperHewitt-Bold.woff) format('woff'),
         url(/static/fonts/CooperHewitt-Bold.eot) format('embedded-opentype'),
         url(/static/fonts/CooperHewitt-Bold.svg) format('svg');
    font-weight: 600;
}

@tailwind utilities;

.prose code::after {
  content: "";
}
.prose code::before {
  content: "";
}
