@tailwind base;
@tailwind components;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl md:leading-relaxed tracking-wide;
  }
  h3 {
    @apply text-lg md:text-xl lg:text-2xl md:leading-relaxed tracking-wide
  }
  h5 {
    @apply uppercase font-bold tracking-wider pb-3
  }
  [data-loading] {
    display: none;
  }
  .htmx-indicator{opacity:0;transition: opacity 200ms ease-in;}
  .htmx-request .htmx-indicator{opacity:1}
  .htmx-request.htmx-indicator{opacity:1}
}

@font-face {
    font-display: swap;
    font-family: 'CooperHewitt';
    src: url(/static/fonts/CooperHewitt-Light.woff) format('woff'),
         url(/static/fonts/CooperHewitt-Light.eot) format('embedded-opentype'),
         url(/static/fonts/CooperHewitt-Light.svg) format('svg');
    font-weight: 300;
}

@font-face {
    font-display: swap;
    font-family: 'CooperHewitt';
    src: url(/static/fonts/CooperHewitt-Book.woff) format('woff'),
         url(/static/fonts/CooperHewitt-Book.eot) format('embedded-opentype'),
         url(/static/fonts/CooperHewitt-Book.svg) format('svg');
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: "CooperHewitt";
    src: url(/static/fonts/CooperHewitt-Bold.woff) format('woff'),
         url(/static/fonts/CooperHewitt-Bold.eot) format('embedded-opentype'),
         url(/static/fonts/CooperHewitt-Bold.svg) format('svg');
    font-weight: 600;
}


@tailwind utilities;

.prose code::after {
  content: "";
}
.prose code::before {
  content: "";
}
