{% extends "base.html" %}

{% block title %}Password Update{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto px-4 sm:px-6 md:px-10 mt-16 grid grid-cols-1 gap-y-5">
  {% include "includes/account-tabs.html"%}

  <div class="flex justify-center">
    <div class="flex flex-col">
      {% block messages %}
        {% include "includes/messages.html" %}
      {% endblock %}
      {% if form.errors %}
        <div class="bg-red-100 border-l-2 border-red-500 text-red-700 p-4 mb-2 w-[28rem]" role="alert">
          <p class="m-0">There were errors with your submission.</p>
        </div>
      {% endif %}
      <form action="" method="post" id="change-password-form" class="grid grid-cols-1 gap-4 w-[28rem]">
        {% csrf_token %}
        {% for field in form %}
          <div class="flex flex-col">
              <div>
                {{ field.label_tag }}
                {% if  field.field.required %}
                <span class="text-red-500">*</span>
                {% endif %}
              </div>
              {{ field }}
              {% if field.errors %}
                <div class="text-sm text-red-700 mt-1">
                    {{field.errors}}
                </div>
              {% endif %}
        </div>
        {% endfor %}
        {% include 'includes/submit-button.html' with value='Update Password' %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
