<form>
  {% csrf_token %}

  <div class="grid grid-cols-1 gap-4">
    <input type="hidden" id="docketId" name="docketId" value="{{docket_id}}" />

    <div class="flex flex-col">
      <div>
        <label for="name">Name:</label>
        <span class="text-red-500">*</span>
      </div>
      <input type="text" name="name" required id="name" value="{{case_name}}">
      <small id="caseSummaryHelp" class="form-text text-muted text-gray-500">Name of the case. Use this input to tweak the name in case it's really long.</small>
    </div>

    <div class="flex flex-col">
      <div>
        <label for="caseSummary">Case Summary:</label>
        <span class="text-red-500">*</span>
      </div>
      <input type="text" name="caseSummary" maxlength="100" id="caseSummary">
      <small id="caseSummaryHelp" class="form-text text-gray-500">A few words to describe the case in social media.</small>
    </div>

    {% include 'includes/submit-button.html' with value='Subscribe to this case' %}

  </div>

</form>
