{% extends "post.html" %}
{% block title %}Chat Apps{% endblock %}

{% block post_title %}Chat Apps{% endblock %}

{% block post_content %}
  <p class="lead">To keep you updated where you work, we are building bots for Slack, Discord, Google Chat, and Microsoft Teams. You will tell these bots which cases to follow, and you'll get updates for those cases right in your chat app.</p>
  <p>We will also be building features so you can search for and analyze cases in your chat app, making research easier than ever.</p>
  <p>If you are interested in the best way to get updates about your cases, join our waitlist below.</p>

  {% include "./includes/waitlist-form.html" with form=form %}
{% endblock %}
