<a href="{{ channel_url }}" {% if service_name == 'Mastodon' %} rel="me" {% endif %}
  class="tracking-[.8px] flex items-center justify-center text-center whitespace-nowrap border border-transparent rounded-md shadow-sm text-base font-medium no-underline px-0.5 sm:text-md cursor bg-saffron-400 hover:bg-saffron-500">
  <div class="h-6 w-6">
    {% if service_name == 'Twitter' %}
      {% include 'includes/inlines/twitter.svg' %}
    {% elif service_name == 'Mastodon' %}
      {% include 'includes/inlines/mastodon.svg' %}
    {% elif service_name == 'Bluesky' %}
      {% include 'includes/inlines/bluesky.svg' %}
    {% elif service_name == 'Threads' %}
      {% include 'includes/inlines/threads.svg' %}
    {% endif %}
  </div>
  <div class="ml-3">
    <p class="text-sm xl:text-base text-center font-medium"><span class="hidden md:inline">Follow on </span>{{service_name}}</p>
  </div>
</a>
