 {% load static %}

<div class="relative bg-gray-200 border-b-2 border-gray-400">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-10">
        <div class="flex w-full justify-between items-center py-6 md:space-x-6 lg:space-x-10">
            <div class="absolute top-6">
                <a href="{% url 'homepage' %}">
                    <img alt='Yellow robot with white background logo' src="{% static "svg/icon.svg" %}"  layout="responsive" class="rounded-lg border-4 border-bcb-black h-20 lg:h-24 bg-white"/>
                </a>
            </div>

            <div class="w-full md:hidden flex justify-end mx-auto ">
                <button type="button" class="navbar-burger flex rounded-md items-center text-amber-400 p-3 hover:text-amber-600 focus:outline-none focus:ring-2 focus:ring-gray-300">
                    <div class="h-6 w-6">
                        {% include './inlines/bars.svg'%}
                    </div>
                </button>
            </div>

            <div class="hidden w-full md:flex md:justify-end lg:justify-center">
                <div class="flex w-10/12 md:gap-2 lg:gap-10 justify-center">
                    <div class="hidden w-full md:flex md:justify-center gap-6 lg:gap-10">
                        <button data-dropdown-toggle="dropdown" class="text-sm lg:text-base flex items-center font-medium uppercase hover:text-gray-700">
                            big cases
                            <div class="w-5 h-5">
                                {% include './inlines/caret.svg' %}
                            </div>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-screen max-w-md dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-2 px-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownNavbarButton">
                              <li>
                                <a href="{% url 'about' %}" class="flex items-start px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <div class="h-6 w-6 relative flex-shrink-0">
                                        {% include './inlines/information-circle.svg' %}
                                    </div>
                                    <div class="ml-4">
                                        <p class="text-base font-medium text-gray-900">About</p>
                                        <p class="mt-1 text-sm text-gray-500">Learn more about how I work and why I exist.</p>
                                    </div>
                                </a>
                              </li>
                              <li>
                                <a href="{% url 'sponsors' %}" class="flex items-start px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600">
                                    <div class="h-6 w-6 relative flex-shrink-0">
                                        {% include './inlines/sponsors.svg' %}
                                    </div>
                                    <div class="ml-4">
                                        <p class="text-base font-medium text-gray-900">Sponsors</p>
                                        <p class="mt-1 text-sm text-gray-500">Help us liberate the most important documents in the country.</p>
                                    </div>
                                </a>
                              </li>
                            </ul>
                            <div class="flex px-5 py-5 bg-gray-50">
                                <a rel="me" href="https://law.builders/@bigcases" class="flex w-1/2 py-2 items-center justify-center rounded-md hover:bg-gray-100">
                                    <div class="h-8 w-8 text-gray-400">
                                        {% include './inlines/mastodon.svg' %}
                                    </div>
                                    <div class="pl-2 flex flex-col">
                                        <p class="text-base text-center font-medium">Mastodon</p>
                                    </div>
                                </a>
                                <a href="https://twitter.com/big_cases" class="flex w-1/2 py-2 items-center justify-center rounded-md hover:bg-gray-100">
                                    <div class="h-8 w-8 text-gray-400">
                                        {% include './inlines/twitter.svg' %}
                                    </div>
                                    <div class="pl-2 flex flex-col">
                                        <p class="text-base text-center font-medium">Twitter</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <button class="text-sm lg:text-base font-medium uppercase hover:text-gray-700">
                            little cases
                        </button>
                        <button class="text-sm lg:text-base font-medium uppercase hover:text-gray-700">
                            collaboration suites
                        </button>
                    </div>
                </div>
            </div>

            <div class="hidden md:flex justify-end">
                <div class="flex items-center gap-2">
                    <a href="https://free.law/donate/" class="text-center whitespace-nowrap border border-transparent rounded-md shadow-sm text-base font-medium text-bcb-black text-sm no-underline bg-saffron-400 hover:bg-saffron-500 inline-flex px-6 py-2 sm:text-md">
                        &nbsp;Donate
                    </a>
                    <a href='#' class="text-center whitespace-nowrap border border-transparent rounded-md shadow-sm text-base font-medium text-white text-sm no-underline border-gray-700 hover:border-gray-900 bg-neutral-800 hidden sm:inline-flex px-6 py-2 sm:text-md">
                        Sign In
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
