{% load static web_extras %}

{#<div class="flex w-full justify-center items-center py-2 border-b-2 border-gray-400">#}
{#  <div class="flex lg:flex-row flex-col justify-center items-center p-3 text-center">#}
{#    <strong class="pr-2">Today is GivingTuesday.</strong>#}
{#    <span class="text-sm pr-2 mb-2 lg:mb-0">#}
{#      Your support of Free Law Project helps make the justice system more transparent and accessible to all.#}
{#    </span>#}
{#    <a href="https://donate.free.law/forms/givingtuesday" class="underline hidden md:block">#}
{#      Donate Today!#}
{#    </a>#}
{#    <div class="w-28 text-sm font-medium mr-1 md:hidden">#}
{#      {% include './action-button.html' with link="https://donate.free.law/forms/supportflp" text="Donate Today!" size='sm' color='saffron' %}#}
{#    </div>#}
{#  </div>#}
{#</div>#}

<div class="relative bg-gray-200 border-b-2 border-gray-400">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-10">
        <div class="flex w-full justify-between items-center py-6 md:space-x-6 lg:space-x-10">
            <div class="absolute top-6">
                    <div alt='Gray and yellow scale with white background logo'  layout="responsive" class="rounded-lg border-2 p-2 border-gray-400 h-30 w-[120px] lg:h-30 lg:w-42 xl:h-32 xl:w-44 bg-white">
                        <a href="{% url 'homepage' %}">
                            {% include "includes/logo.svg" %}
                        </a>
                    </div>

            </div>

            <div class="w-full md:hidden flex justify-end mx-auto ">
                <button type="button" aria-label="Mobile button" data-dropdown-toggle="dropdown-mobile" data-dropdown-close-button="close-dropdown-mobile" class="navbar-burger rounded-md items-center text-amber-400 p-1 hover:text-amber-600 focus:outline-none focus:ring-2 focus:ring-gray-300">
                    <div class="h-6 w-6">
                      {% include './inlines/bars.svg' %}
                    </div>
                </button>
                <div class="absolute z-10 w-full pl-8 sm:pl-12">

                  <div id="dropdown-mobile" class="bg-white hidden divide-y divide-gray-100 rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden w-full">
                    <div class="pt-[11px] pb-6 px-[11px]">
                      <div class="flex items-start justify-between">
                        <div class="h-30 w-[100px] lg:h-32 lg:w-44">
                            <a href="{% url 'homepage' %}">
                                {% include "includes/logo.svg" %}
                            </a>
                        </div>
                        <button type="button" id="close-dropdown-mobile" class="navbar-burger rounded-md items-center text-amber-400 p-1 hover:text-amber-600 focus:outline-none focus:ring-2 focus:ring-gray-300">
                            <div class="h-6 w-6">
                              {% include './inlines/x-mark.svg' %}
                            </div>
                        </button>
                      </div>
                    </div>
                    <div class="py-6 px-5 space-y-6">
                      <div class="grid grid-cols-2 gap-x-6 sm:gap-x-8">
                        <div class="grid grid-cols-1 gap-y-4">
                          <a href="{% url 'big_cases_about' %}" class="text-base font-medium text-gray-900 hover:text-gray-700" aria-label="About Me">About Me</a>
                          <a href="{% url 'big_cases_sponsors' %}" class="text-base font-medium text-gray-900 hover:text-gray-700" aria-label="Sponsor Me">Sponsor Me</a>
                        </div>

                        <div class="grid grid-cols-1 gap-y-4">
                          <a href="{% url 'little_cases' %}" class="text-base font-medium text-gray-900 hover:text-gray-700" aria-label="Little Cases bots">Little Cases bots</a>
                          <a href="{% url 'collaboration' %}" class="text-base font-medium text-gray-900 hover:text-gray-700" aria-label="Chat Apps">Chat Apps</a>
                        </div>
                      </div>
                      <div class="grid grid-cols-1 gap-2">
                        <a href="https://donate.free.law/forms/supportflp" aria-label="Donate" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm font-medium text-sm no-underline text-bcb-black  bg-saffron-400 hover:bg-saffron-500">
                            &nbsp;Donate
                        </a>
                        <a href="https://bsky.app/profile/bigcases.bots.law" aria-label="Bluesky" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium border-gray-500">
                            <div class="h-6 w-6 text-gray-400 pr-1">
                                {% include './inlines/bluesky.svg' %}
                            </div>
                            Follow on Bluesky
                        </a>
                        <a rel="me" href="https://law.builders/@bigcases" aria-label="Mastodon" class="w-full flex p-3 items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium border-gray-500">
                            <div class="h-6 w-6 text-gray-400">
                                {% include './inlines/mastodon.svg' %}
                            </div>
                            Follow on Mastodon
                        </a>
                        <a href="https://twitter.com/big_cases" aria-label="Twitter" class="w-full flex p-3 items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium border-gray-500">
                            <div class="h-6 w-6 text-gray-400">
                                {% include './inlines/twitter.svg' %}
                            </div>
                            Follow on Twitter
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
            </div>

            <div class="hidden w-full md:flex md:justify-end lg:justify-center">
                <div class="flex w-10/12 md:gap-2 lg:gap-10 justify-center">
                    <div class="hidden w-full md:flex md:justify-center gap-6 lg:gap-10">
                        <div class="flex flex-col">
                            <button id="bigCasesButton" data-dropdown-toggle="dropdown" class="text-sm lg:text-base flex items-center font-medium uppercase hover:text-gray-700" aria-label="Big cases button">
                                big cases
                                <div class="w-5 h-5">
                                    {% include './inlines/caret.svg' %}
                                </div>
                            </button>
                            <div class="absolute top-16 -translate-x-8 xl:-translate-x-32 z-50">
                                <div id="dropdown" class="z-10 bg-white hidden divide-y divide-gray-100 rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden sm:max-w-sm md:w-screen lg:max-w-md">
                                    <div class="relative grid px-5 py-6 gap-4 text-sm text-gray-700 dark:text-gray-400 md:gap-8 sm:p-8" aria-labelledby="dropdownNavbarButton">
                                        <a href="{% url 'big_cases_about' %}" class="flex items-start -m-3 p-3 hover:bg-gray-100" aria-label="About Me">
                                            <div class="h-6 w-6 relative flex-shrink-0">
                                                {% include './inlines/information-circle.svg' %}
                                            </div>
                                            <div class="ml-4">
                                                <p class="text-sm lg:text-base font-medium text-gray-900">About Me</p>
                                                <p class="mt-1 text-xs lg:text-sm text-gray-500">Learn more about how I work and why I exist.</p>
                                            </div>
                                        </a>

                                        <a href="{% url 'big_cases_sponsors' %}" class="flex items-start -m-3 p-3 hover:bg-gray-100" aria-label="Sponsor Me">
                                            <div class="h-6 w-6 relative flex-shrink-0">
                                                {% include './inlines/sponsors.svg' %}
                                            </div>
                                            <div class="ml-4">
                                                <p class="text-sm lg:text-base font-medium text-gray-900">Sponsor Me</p>
                                                <p class="mt-1 text-xs lg:text-sm text-gray-500">Help us liberate the most important documents in the country.</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="px-5 py-1 bg-gray-50 flex md:py-2 md:px-8">
                                        <div class="w-1/3">
                                          <a href="https://bsky.app/profile/bigcases.bots.law" aria-label="Bluesky" class="flex p-3 items-center justify-center rounded-md hover:bg-gray-100">
                                            <div class="h-5 w-5 text-gray-400">
                                                {% include './inlines/bluesky.svg' %}
                                            </div>
                                            <div class="ml-3">
                                                <p class="text-xs lg:text-sm xl:text-base text-center font-medium">Bluesky</p>
                                            </div>
                                          </a>
                                        </div>
                                        <div class="w-1/3">
                                            <a rel="me" href="https://law.builders/@bigcases" aria-label="Mastodon" class="flex p-3 items-center justify-center rounded-md hover:bg-gray-100">
                                                <div class="h-6 w-6 text-gray-400">
                                                    {% include './inlines/mastodon.svg' %}
                                                </div>
                                                <div class="ml-3">
                                                    <p class="text-xs lg:text-sm xl:text-base text-center font-medium">Mastodon</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="w-1/3">
                                            <a href="https://twitter.com/big_cases" aria-label="Twitter" class="flex p-3 items-center justify-center rounded-md hover:bg-gray-100">
                                                <div class="h-6 w-6 text-gray-400">
                                                    {% include './inlines/twitter.svg' %}
                                                </div>
                                                <div class="ml-3">
                                                    <p class="text-xs lg:text-sm xl:text-base text-center font-medium">Twitter</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'little_cases' %}" aria-label="little cases" class="text-sm lg:text-base font-medium uppercase hover:text-gray-700">
                            little cases
                        </a>
                        <a href="{% url 'collaboration' %}" aria-label="Chat Apps" class="text-sm lg:text-base font-medium uppercase hover:text-gray-700">
                            Chat Apps
                        </a>
                        {% if user.is_authenticated %}
                          <a href="{% url 'add_cases' %}" aria-label="Chat Apps" class="text-sm lg:text-base font-medium uppercase hover:text-gray-700">
                              Add a case
                          </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="hidden md:flex items-center">
              <div class="w-28 text-sm font-medium mr-1">
                {% include './action-button.html' with link="https://donate.free.law/forms/supportflp" text="Donate" size='sm' color='saffron' %}
              </div>
              {% if user.is_authenticated %}
                <div class="w-28 text-sm font-medium sm:text-md">
                  <button id="profileButton" data-dropdown-toggle="profile-dropdown" class="flex justify-around items-center w-full text-center whitespace-nowrap no-underline border border-transparent rounded-md shadow-sm text-bcb-black bg-white hover:bg-gray-100 p-2" aria-label="profile button">
                    <div class="w-4 h-4">
                      {% include './inlines/profile.svg' %}
                    </div>
                    Profile
                    <div class="w-5 h-5">
                      {% include './inlines/caret.svg' %}
                    </div>
                  </button>
                </div>
                <div class="absolute top-16 translate-x-[106px] z-50">
                  <div id="profile-dropdown" class="z-10 bg-white hidden divide-y divide-gray-100 rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden max-w-xs">
                    <div class="relative grid px-6 py-6 gap-5 text-gray-700 dark:text-gray-400" aria-labelledby="dropdown-profile-menu">
                      <a href="{% url 'profile_settings' %}" class="flex items-start -m-3 p-3 hover:bg-gray-100 text-gray-900" aria-label="Account">
                        <div class="h-4 w-4 relative flex-shrink-0 ">
                            {% include './inlines/profile.svg' %}
                        </div>
                        <div class="ml-2">
                            <p class="text-sm font-medium">Account</p>
                        </div>
                      </a>

                      <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="flex items-start -m-3 p-3 hover:bg-gray-100 text-gray-900">
                          <div class="h-4 w-4 relative flex-shrink-0 ">
                            {% include './inlines/logout.svg' %}
                          </div>
                          <div class="ml-2">
                              <p class="text-sm font-medium">Sign Out</p>
                          </div>
                        </button>
                      </form>
                  </div>
                  </div>
                </div>
              {% else %}
                <div class="w-20 text-sm font-medium sm:text-md">
                  {% url 'sign-in' as sign_in %}
                  {% if request.path != "/sign-out/" %}
                    {% with sign_in|addstr:"?next="|addstr:request.path as sign_in_w_redirect %}
                    {% include './action-button.html' with link=sign_in_w_redirect text="Sign In" size='sm' %}
                    {% endwith %}
                  {% else %}
                    {% include './action-button.html' with link=sign_in text="Sign In" size='sm' %}
                  {% endif %}
                </div>
              {% endif %}
            </div>
        </div>
    </div>
</div>
