{% comment %}
  This template renders a yellow button that fills the horizontal space available and
  takes up to three keyword arguments described below:

  Parameters:
    link: The URL that the hyperlink points to.
    text: Text of the button.
    size: Sets the padding of the button. Possible values are: sm, md, lg

  It's advisable to wrap this template with a div tag and use the parent element to handle
  the sizing and the responsive behavior. Here's an example:

  <div class="flex w-44 md:w-48 lg:w-52">
    {% include 'includes/yellow-button.html' with link="https://free.law/contact/" text='Contact Us' size="sm" %}
  </div>
{% endcomment %}

<a href="{{link}}"
  class="flex justify-center w-full text-center whitespace-nowrap no-underline border border-transparent rounded-md shadow-sm text-bcb-black bg-saffron-400 hover:bg-saffron-500 {% if size == 'lg' %} p-4 {% elif size == 'md' %} p-3 {% else %} p-2 {% endif %}">
  {{text}}
</a>
