{% extends "post.html" %}
{% block title %}About the Big Cases Bot{% endblock %}

{% block post_title %}About The Big Cases Bot{% endblock %}

{% block post_content %}
  <p class="lead">The Big Cases Bot was created by Brad Heath at USA Today. It is maintained by Free Law Project, a 501﻿(c)﻿(3) that uses software and political advocacy to make the legal sector more equitable and competitive.</p>
  <p>To stay up to date with the biggest federal cases in the country, follow the Big Cases Bot on Twitter or Mastodon</p>

  <div class="flex items-center justify-center">
    <div class="w-1/3">
      <a href="https://twitter.com/big_cases"
         class="tracking-[.8px] flex items-center justify-center text-center whitespace-nowrap border border-transparent rounded-md shadow-sm text-base font-medium no-underline px-0.5 sm:text-md cursor bg-saffron-400 hover:bg-saffron-500">
        <div class="h-6 w-6">
          {% include 'includes/inlines/twitter.svg' %}
        </div>
        <div class="ml-3">
          <p class="text-sm xl:text-base text-center font-medium"><span class="hidden md:inline">Follow on </span>Twitter</p>
        </div>
      </a>
    </div>
    <div class="w-1/3 ml-4">
      <a href="https://law.builders/@bigcases"
         class="tracking-[.8px] flex items-center justify-center text-center whitespace-nowrap border border-transparent rounded-md shadow-sm text-base font-medium no-underline px-0.5 sm:text-md cursor bg-saffron-400 hover:bg-saffron-500">
        <div class="h-6 w-6">
          {% include 'includes/inlines/mastodon.svg' %}
        </div>
        <div class="ml-3">
          <p class="text-sm xl:text-base text-center font-medium"><span class="hidden md:inline">Follow on </span>Mastodon</p>
        </div>
      </a>
    </div>
  </div>

  <h2>I'm Following These Cases</h2>
  <p>Big Cases Bot follows the most important federal cases in the world. Right now, the bot is following:</p>
  <table>
    <thead>
      <tr>
        <td>Case Name</td>
        <td>Case Number</td>
        <td>Court</td>
      </tr>
    </thead>
    <tbody>
    {% for sub in subscriptions %}
      <tr>
        <td><a href="{{ sub.cl_url }}">{{ sub.name_with_summary }}</a></td>
        <td><nobr>{{ sub.docket_number }}</nobr></td>
        <td>{{ sub.court_name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2>What next?</h2>
  <div class="grid grid-cols-2 gap-8">
    <a href="{% url 'big_cases_my_code' %}" class="text-center whitespace-nowrap border rounded-md shadow-sm font-medium text-sm no-underline w-full inline-block border-gray-500 hover:border-gray-900 hover:text-gray-900 bg-white px-4 py-2 sm:text-md">
      My Technology
    </a>
    <a href="{% url 'big_cases_sponsors' %}" class="text-center whitespace-nowrap border rounded-md shadow-sm font-medium  text-sm no-underline w-full inline-block border-gray-500 hover:border-gray-900 hover:text-gray-900 bg-white px-4 py-2 sm:text-md">
      Sponsors Me
    </a>
  </div>
{% endblock %}
