{% extends "post.html" %}
{% block title %}Sponsor the Big Cases Bot{% endblock %}

{% block post_title %}Sponsor the Big Cases Bot{% endblock %}

{% block post_content %}
  <p class="lead">
    The Big Cases Bot provides updates about historical cases to a growing audience of more than 55,000 attorneys, journalists, and court watchers.
  </p>
  <p>Bot sponsorships are offered on an exclusive monthly basis for the price of <strong>$1,750</strong>.</p>
  <p>When you sponsor the Bot, you get the following benefits:</p>
  <ul>
    <li><p>Your name will be added as a sponsor to the Bot's profile on all social media platforms where the bot is available.</p></li>
    <li><p>We will thank you for your sponsorship with a post <a href="https://bsky.app/profile/bigcases.bots.law/post/3knyysg5au32i">like this one</a> on all platforms.</p></li>
    <li><p>Document thumbnails shared by the bot during your sponsorship will be watermarked <a href="https://bsky.app/profile/bigcases.bots.law/post/3knzmp65zoz2j">like this one</a> to show they were contributed by you.</p></li>
    <li><p>The posts from the bot receive around two million impressions per month, many of which will have your watermark.</p></li>
  </ul>

  <p>Bot sponsorship is a great way to earn publicity for your organization. Your contribution supports <a href="https://free.law">Free Law Project</a>, fights misinformation by providing ready access to primary legal materials, and adds important documents to the public commons for permanent preservation.
  </p>

  <p>To sponsor the Bot, please get in touch and we'll go over the details.</p>
  <div class="flex gap-x-4 items-center justify-center tracking-[.8px] font-medium ">
    <div class="max-w-fit">
      {% include 'includes/action-button.html' with link="https://free.law/contact/" text='Contact Us' size="sm" color='saffron' %}
    </div>
    <div class="max-w-fit">
      {% include 'includes/action-button.html' with link="https://bsky.app/profile/bigcases.bots.law/post/3lscg3syckn2l" text='See an Example' size="sm" color='saffron' %}
    </div>
  </div>

  {% if current_sponsors %}
  <h2>Current sponsors</h2>
  <div class="grid grid-cols-3 gap-4">
    {% for sponsor in current_sponsors %}
      <div class="text-center">{{ sponsor.user.affiliation }}</div>
    {% endfor %}
  </div>
  {% endif %}

  {% if past_sponsors %}
  <h2>Past Sponsors</h2>
  <div class="grid grid-cols-3 gap-4">
    {% for sponsor in past_sponsors %}
      <div class="text-center">{{ sponsor.user.affiliation }}</div>
    {% endfor %}
  </div>
  {% endif %}

{% endblock %}
