{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="max-w-xl mx-auto px-4 sm:px-6 md:px-10">
  <div class="py-12 prose">
    <h1 class="font-display font-light tracking-wide">Sign In</h2>
      {% block messages %}
        {% include "includes/messages.html" %}
      {% endblock %}
      {% if form.errors %}
        <div class="bg-red-100 border-l-2 border-red-500 text-red-700 p-4 mb-2" role="alert">
          {% for error in form.non_field_errors %}
            <p class="m-0">{{ error|safe }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <form action="{% url "sign-in" %}" method="post">
        {% csrf_token %}
        <div class="grid grid-cols-1 gap-4">
          {% for field in form %}
            <div class="flex flex-col">
              <div>
                {{ field.label_tag }}
              </div>
              {{ field }}
            </div>
          {% endfor %}
          <input type="hidden" name="next" value="{{ next }}">

          {% include 'includes/submit-button.html' with value='Sign In' %}
        </div>
      </form>
      <div class="mt-4 text-md">
        {% url 'register' as register %}
        {% include 'includes/regular-anchor.html' with text='Register' href=register%} |
        {% url 'password_reset' as password_reset %}
        {% include 'includes/regular-anchor.html' with text='Forgot username/password' href=password_reset %}
      </div>
  </div>
</div>
{% endblock %}
