{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block content %}
<div class="flex justify-center self-center mt-16 max-w-3xl mx-auto px-4 sm:px-6 md:px-10">
  <div class="flex flex-col grid grid-cols-1 gap-y-4">
    <div class="flex justify-center">
      <h1 class="mb-[0.888em] text-4xl font-display font-light tracking-wide">
        Reset Your Password
      </h1>
    </div>

    {% if form.errors %}
      <div class="bg-red-100 border-l-2 border-red-500 text-red-700 p-4 mb-2" role="alert">
        <p class="m-0">There were errors with your submission.</p>
      </div>
    {% endif %}

    <p>Enter your email address and we will send you the username on the account
      and instructions for resetting your password.</p>

    <div class="flex flex-col">
      <div class="flex flex-col">
        <form action="" method="post">
          {% csrf_token %}
          <div class="flex item-center">
            <label for="simple-search" class="sr-only">Email Address</label>
            <div class="relative w-full">
              <input type="text" id="simple-search" name="email" autocomplete=off
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400"
                placeholder="Your Email Address" required>
            </div>
            <button type="submit"
              class="p-2.5 ml-2 text-sm font-medium bg-saffron-400 rounded-lg border border-saffron-400 hover:bg-saffron-500 focus:ring-4 focus:outline-none focus:ring-blue-300">
              Submit
              <span class="sr-only">Submit</span>
            </button>
          </div>
        </form>
      </div>
    </div>


    <p class="v-offset-above-2">If you are unable to reset your account, please
      {% include 'includes/regular-anchor.html' with text='contact us for assistance' href="https://free.law/contact/"%}.</p>

  </div>
</div>
{% endblock %}
