{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block content %}
<div class="flex justify-center self-center mt-16">
  {% if validlink %}
    <div class="flex flex-col">
      {% if form.errors %}
        <div class="bg-red-100 border-l-2 border-red-500 text-red-700 p-4 mb-2" role="alert">
          <p class="m-0">There were errors with your submission.</p>
        </div>
      {% endif %}
      <h1 class="mb-[0.888em] text-4xl font-display font-light tracking-wide">
        Enter New Password
      </h1>
      <div class="max-w-md">
        <form action="" method="post" class="grid grid-cols-1 gap-4">
          {% csrf_token %}
          {% for field in form %}
            <div class="flex flex-col">
                <div>
                  {{ field.label_tag }}
                  {% if  field.field.required %}
                  <span class="text-red-500">*</span>
                  {% endif %}
                </div>
                {{ field }}
                {% if field.errors %}
                  <div class="text-sm text-red-700 mt-1">
                      {{field.errors}}
                  </div>
                {% endif %}
            </div>
          {% endfor %}

          {% include 'includes/submit-button.html' with value='Reset My Password' %}
        </form>
      </div>
    </div>
  {% else %}
  <div class="grid grid-cols-1 gap-y-4 max-w-3xl mx-auto px-4 sm:px-6 md:px-10">
    <div class="flex justify-center self-center mb-[0.888em] ">
      <div class="h-12 w-12 text-saffron-400 flex self-center items-center justify-center">
        {% include 'includes/inlines/exclamation-triangle.svg' %}
      </div>
      <div class="flex self-center ml-2">
        <h1 class="text-4xl font-display font-light tracking-wide">
          Password reset unsuccessful.
        </h1>
      </div>
    </div>
    <p>The password reset link was invalid, possibly because it has already been used. Sometimes email providers click links in your emails and cause this problem. Please <a href="{% url "password_reset" %}">try again</a> or
      <a href="#">contact us</a> and we'll be happy to help.</p>
  </div>
  {% endif %}
{% endblock %}
